<?xml version="1.0"?>
<module name="Checker">

    <!-- Lunghezza massima riga -->
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

    <!-- Controlli principali -->
    <module name="TreeWalker">

        <!-- Spaziatura parentesi graffe -->
        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>

        <!-- Spazi tra nome metodo e parentesi -->
        <module name="MethodParamPad"/>

        <!-- Indentazione a 4 spazi -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
        </module>

        <!-- Nome delle classi -->
        <module name="TypeName"/>

        <!-- Nome dei metodi -->
        <module name="MethodName"/>

    </module>
</module>
