name: Continuous Integration

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

  pull_request:
    branches:
      - master

jobs:
  build_tests_checkstyle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Remove custom Maven settings
        run: rm -f ~/.m2/settings.xml

      - name: Build
        run: mvn -B clean compile

      - name: Run Tests
        run: mvn test

      - name: Run Checkstyle
        run: mvn verify

  docker:
    runs-on: ubuntu-latest
    needs:  build_tests_checkstyle

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t my-app:latest .

      - name: Run Docker Compose
        run: docker compose up --abort-on-container-exit

      - name: Stop Docker Compose
        if: always()
        run: docker compose down

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs:  build_tests_checkstyle
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: MyCalculator ${{ github.ref_name }}
          generate_release_notes: true